@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/roobert');


:root {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: 'Roobert', sans-serif;
}

body {
  padding-right: 0px !important;
}

.MuiPaper-root {
  padding-right: 0px !important;
}